header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-icon i {
    /*ícones é estilizado como text*/
    color: yellow;
    font-size: 40px;
}

.div-title h1 {
    /*DEIXA O TEXTO EM CAIXA ALTA*/
    font-size: 25px;
    text-transform: uppercase;
    color: yellow;
}

.div-list ul {
    display: flex;
    gap: 15px;
}

.div-list ul li {
    /*remove "bolinhas" da lista*/
    list-style: none;
}

.div-list ul li a {
    /*remove o sublinhado*/
    text-decoration: none;
    /*cor da letra*/
    color: yellow;
}

.section-01 {
    /*cor de fundo*/
    background-color: black;
    /*tornando o item flex/lado a lado*/
    display: flex;
    /*alinhamento horizontal*/
    justify-content: space-evenly;
    /*alinhamento vertical*/
    align-items: center;
    /*espaço entre as div*/
    gap: 15px;
    /*Preenchimento interno*/
    padding: 100px;
}

.img-section-01 {
    /*Largura da img*/
    width: 300px;
    /*altura da img*/
    height: 350px;
    /*sombra da caixa*/
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.363);
    /*arredondamento das bordas*/
    border-radius: 40px;
}

.section-01 p {
    /*cor da letra*/
    color: white;
    /*tamanho da letra*/
    font-size: 30px;
    /*Família de font*/
    font-family: 'arial';
    /*espaçamento lateral esquerda*/
    margin-left: 30px;
    /*peso da fonte*/
    font-weight: 700;
    /*Alinhamento do texto*/
    text-align: center;
}

span {
    font-size: 40px;
    color: yellow;
    text-transform: uppercase;
}

.section-02 {
    /*cor de fundo*/
    background-color: black;
    /*Espaçamento interno*/
    padding: 100px;

    /*os itens ficaram lado lado*/
    display: flex;
    /*modificando a direção das caixas*/
    flex-direction: column;
    /*alinhamento vertical*/
    align-items: center;
    /*alinhamento horizontal*/
    justify-content: center;

}

.div-icons i {
    color: yellow;
    font-size: 45px;
    margin-left: 20px;
}

.div-paragrafo p {
    color: white;
    font-size: 30px;
}


.section-03 {
    padding: 150px; /*preenchimento interno*/
    background-image: url(imagens/architecture-3128917_1280.jpg); /*imagem de fundo*/ 
    background-attachment: fixed; /*posicionamento fixo*/
    background-position: center top; /*posicionamento da img*/
    display: flex; /*tornando a section flex, sendo possível fazer o alinhamento*/
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
}

.section-03 button {
    background-color: yellow; /*cor de fundo do botão*/
    color: black; /*cor da letra*/
    width: 180px; /*largura do botão*/
    padding: 10px; /*espaçamento interno*/
    border: none; /*removendo borda*/
    box-shadow: 5px 5px 10px white; /*sombra do botão*/
}

.section-03 button:hover {
    background-color: rgba(255, 255, 0, 0.447); /*alternância da cor ao passar o mouse*/
    transition: 0.8s; /*transição da ação do hover*/
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.386); /*alternância da cor da sombra ao passar o mouse*/
}

.section-04 {
    background-color: grey; /*cor de fundo da section*/
    padding: 100px;  /*preenchimento interno da section*/
    display: flex; /*tornando a section flex lado a lado*/
    gap: 10px; /*espaçamento entre as caixas*/
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
}

/* aqui estamos utilizando as 3 caixas div */
.div-section-04 {
    width: 350px;
    height: 350px;
    background-color: blue;
    text-align: center;
    padding: 15px;
}

.div-dog {
    background-image: url(Imagens/dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div-start {
    background-color: rgb(87, 129, 129);
}

.div-start h3 {
    color: black;
    font-size: 30px;
    text-transform: uppercase;

}

.div-start p {

    text-align: center;
    font-size: 20px;
    
}

.div-start i {
    font-size: 20px;
    color: rgb(122, 43, 109);

}

.div-user {
    background-color: rgba(29, 71, 33, 0.219);

}

.div-user img{
    width: 150px;
    height: 150px;
}
.div-user p {
    font-size: 20px;
}
footer {
    background-color: black;  /*cor de fundo*/
    padding: 50px; /*preenchimento interno*/
    color: yellow; /*cor das letras*/
    display: flex; /*utilizando para fa\er alinhamento */
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*alinhamento horizontal*/
    text-align: center; /*alinhamento dos textos*/
    font-size: 25px; /*aumentando o tamanho dos textos*/
}

footer i{
    font-size: 25px;
    color: floralwhite;
}


